@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

:root {
    --blue: #044affff;
    --navText: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Encode Sans', 'Times New Roman', Times, serif;
    background-color: rgb(242, 242, 242);
}



/*NAVIGATION BAR*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;

    width: 100%;
    height: 72px;
    padding: 0px 20px;

    backdrop-filter: blur(21px);

    background-color: rgb(255 255 255 / 30%);
    border-bottom: solid 1px black;

    color: var(--navText);
    z-index: 999;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

nav img {
    width: 45px;
}

#menu-icon {
    display: none;
}

#leftInfo {
    display: flex;
    align-items: center;
    gap: 18px;

    font-size: 1.3rem;
    font-weight: bold;
}

#websiteName {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 12px;
}

#websiteName p {
    margin-bottom: 3px;
    font-size: 20px;
}

#main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;

    gap: 45px;
    margin-top: 100px;
    padding: 45px;
}

.projectCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 400px;
    height: 400px;
    margin-bottom: 110px;

    border-radius: 9px;
    background-color: white;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    transition: 0.5s;
}

.projectCard img {
    width: 400px;
    height: 400px;
    border: 0px solid var(--blue);
    border-radius: 9px;
    transition: 0.3s;
    object-fit: cover;
}

.projectCard img:hover {
    border: 6px solid var(--blue);
    transition: 0.3s;
}

.projectTitle {
    margin-top: 20px;
    margin-bottom: 10px;
}

.projectInfo {
    color: rgb(100, 100, 100);
}


#sourceCode {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    gap: 15px;

    color: white;
    background-color: var(--blue);
}

a {
    transition: 200ms;
    text-decoration: none;
    color: var(--navText);
}

a:hover {
    text-decoration: underline;
    color: var(--blue);
    transition: 200ms;
}


/* MOBILE SIZE */
@media (max-width: 700px) {

    /*Navigation Bar*/
    nav img {
        width: 45px;
    }

    #leftInfo p {
        font-size: 16px;
    }

    #websiteName {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0px;
    }

    #websiteName h3 {
        font-size: 25px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: start;

        position: absolute;
        top: 72px;
        left: 0;
        right: 0;
        gap: 0;

        overflow: hidden;

        background-color: black;
        transition: all 0.4s;
    }

    nav ul li {
        margin-left: 21px;
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    nav a {
        color: white;
    }



    /*Main Div*/
    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .projectCard, .projectCard img {
        width: 300px;
        height: 300px;
    }

    /*SVG*/
    i {
        font-size: 27px;
    }

    #menu-icon {
        display: block;
    }

    #menuList {
        transition: all 0.4s;
    }
}