@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

body, html {
    height: 100%;
}

body {
    font-family: 'Encode Sans', Times, serif;
}

header {
    display: flex;
    align-items: center;

    width: auto;
    height: 5rem;
    color: white;
    background-color: black;
}

#leftInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    margin-left: 20px;

    font-size: 24px;
    font-weight: bold;
}