* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px transparent gray;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstContainer {
    margin-left: 50px;
    display: flex;
    gap: 50px;
}


#social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    padding: 20px;
    border-radius: 50px;

    height: 30px;
    font-size: 25px;
    gap: 7px;
    color: black;
    background-color: bisque;
    text-decoration: none;
    border: 10px solid black;
    transition: 0.2s;
}

#social-buttons:hover {
    border: 10px solid white;
    transition: 0.2s;
}


h1 {
    font-size: 60px;
}
img {
    height: 330px;
    border: 10px solid black;
    border-radius: 100px;
}